/Bank-O_UnityProject/Library

/Bank-O_UnityProject/Packages

/Bank-O_UnityProject/Temp
/Bank-O_UnityProject/.collabignore
/Bank-O_UnityProject/Assembly-CSharp.csproj
/Bank-O_UnityProject/Assembly-CSharp-Editor.csproj
/Bank-O_UnityProject/Bank-O_UnityProject.sln
/Bank-O_UnityProject/.vs/Bank-O_UnityProject/v15/.suo
/Bank-O_UnityProject/.vs/Bank-O_UnityProject/v15/Server/sqlite3/db.lock
/Bank-O_UnityProject/.vs/Bank-O_UnityProject/v15/Server/sqlite3/storage.ide
/Bank-O_UnityProject/.vs/Bank-O_UnityProject/v15/Server/sqlite3/storage.ide-shm
/Bank-O_UnityProject/.vs/Bank-O_UnityProject/v15/Server/sqlite3/storage.ide-wal
/Bank-O_UnityProject/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
/Bank-O_UnityProject/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
/Bank-O_UnityProject/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/Bank-O_UnityProject/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
/Bank-O_UnityProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bank-O_UnityProject/obj/Debug/build.force
